/* sticky scroll header css */
.scroll-header{
  background: white;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 9999999999;
  transition: .5s;
}

.white{
  background: #ff71ec;
  padding: 0;
  box-shadow: 2px 0 10px 2px rgb(0, 0, 0, .4);
}
.white .logo img{
  width: 180px;
}

.logo img{
    width:200px;
    transition: .5s;
}
.c-menu li a {
	margin: 0 15px !important;
	font-size: 16px;
	color: #1e272e !important;
	font-weight: 700;
}
.c-menu li a:hover{
    color: #3c40c6 !important;
}

/* header btn css */
  
  .button_su{
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 3px;
  }
  
  .su_button_circle{
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left:0;
    top:0;
    width: 0px;
    height: 0px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out; */
  }
  
  .button_su_inner {
    display: inline-block;
    background: #3c40c6;
    color: #F4F4F4 !important;
    font-size: 16px;
    font-weight: 700;
    width: 130px;
    text-align: center;
    border-radius: 4px;
    transition: 500ms;
    text-decoration: none;
    padding: 10px;
  }
  
  .button_text_container{
     position:relative;
     z-index: 10000;
  }
  
  .explode-circle {
     animation: explode 0.8s forwards;
  
  }
  
  .desplode-circle{
     animation: desplode 0.8s forwards;
  }
  
  @keyframes explode {
    0% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(0, 0, 0);
    }
    100% {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      background-color: rgba(0, 0, 0);
    }
  }
  
  @keyframes desplode {
    0% {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      background-color: rgba(0, 0, 0, 0.8);
    }
    100% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(0, 0, 0);
    }
  }

/* others pages css */
.lightbox-gallery{
  flex-wrap: wrap;
  justify-content: center;
 
}
.lightbox-gallery a {
	margin: 10px;
  width: 300px;
  height: 300px;
	border: 6px solid white;
  box-shadow: 0 2px 10px rgb(0, 0, 0, .2);
	overflow: hidden;
}

.lightbox-gallery a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .5s;
}
.lightbox-gallery a img:hover{
  transform: scale(1.4);
}
/* lightboxx custom css */
.lg-next::before {
	content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight:600 ;
}
.lg-prev::after {
	content: '\f100';
  font-family: "Font Awesome 5 Free";
  font-weight:600 ;
}

.lg-backdrop {
	z-index: 1040;
	background-color: rgb(0, 0, 0 , .8);
}
.lg-outer .lg-thumb-outer {
	background-color: #779cff;
}

.lg-image{
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.4);
    transform: scale3d(1, 1, 1);
}